.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #20439a, #2e126c);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 90%;
    text-align: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
    flex: 1;
    min-width: 200px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 120px;
    margin: 20px 0;
}
.temperature{
    color: #fff;
    font-size:60px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 30px;
}
.weather-data{
    width: 100%;
    margin-top: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.weather-data .col{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    width: 100%;
    justify-content: center;
}
.weather-data .col span{
    display: block;
    font-size: 14px;
}
.weather-data .col img{
    width: 30px;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .weather {
        padding: 20px;
        max-width: 90%;
    }

    .temperature {
        font-size: 50px;
    }

    .location {
        font-size: 25px;
    }

    .search-bar {
        flex-direction: row; 
        gap: 8px;
        justify-content: center; 
        width: 100%; 
    }

    .search-bar input {
        width: 100%;
        font-size:20px;
        padding-left: 15px;
        flex: 1;
    }

    .search-bar img {
        width: 45px;
        padding: 10px;
    }

    .weather-data {
        flex-direction: column;
        align-items: center;
    }

    .weather-data .col {
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }

    .weather-data .col img {
        width: 25px;
    }
}